/* You can add global styles to this file, and also import other style files */

$color-primary: #355C7D;
$header-primary: #F8B195;

body {
  background-color: $color-primary;
  font-family: 'Lato', sans-serif;
}
